@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
}

body {
  background: #000;
  background: #151f29;
  background: #101010;
  color: #ebe6e1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px 0;
}

a {
  color: #ebe6e1;
}

.logo {
  display: inline;
  max-width: 65px;
  vertical-align: middle;
}

@media (min-width: 768px) {

  .logo {
    max-width: 85px;
  }
}

.title {
  display: inline;
  font-size: 25px;
  margin-bottom: auto;
  margin-top: auto;
  vertical-align: middle;
}

@media (min-width: 768px) {

  .title {
    font-size: 30px;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 5px;
}

label {
  display: block;
  margin-top: 10px;
}

.label-text {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

textarea {
  background: #111;
  box-sizing: border-box;
  color: #eee;
  font-family: monospace;
  font-size: 14px;
  margin-top: 10px;
  min-height: 500px;
  padding: 10px;
  width: 100%;
}

pre {
  box-sizing: border-box;
  border: 1px #666 solid;
  margin-top: 10px;
  padding: 10px;
  min-height: 500px;
  width: 100%;
}

.transpile {
  margin-top: 10px;
}

.cols {
  width: 100%;
}

@media (min-width: 768px) {
  .cols {
    display: flex;
  }
}

.col1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (min-width: 768px) {

  .col1 {
    padding: 10px;
    width: 50%;
  }

  .col1:first-of-type {
    padding-left: 0;
  }

  .col1:last-of-type {
    padding-right: 0;
  }
}

select {
  padding: 5px;
  margin-left: 10px;
}

button {
  background: #c9c9c9;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-size: 15px;
  padding: 6px 10px;
}
