@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
}

body {
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}

label {
  display: block;
  margin-top: 10px;
}

.label-text {
  display: block;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

textarea {
  box-sizing: border-box;
  font-family: monospace;
  margin-top: 10px;
  min-height: 500px;
  padding: 10px;
  width: 100%;
}

pre {
  box-sizing: border-box;
  border: 1px #666 solid;
  margin-top: 10px;
  padding: 10px;
  min-height: 500px;
  width: 100%;
}

.transpile {
  margin-top: 10px;
}

.cols {
  width: 100%;
}

@media (min-width: 768px) {
  .cols {
    display: flex;
  }
}

.col1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 0;
  padding: 10px;
  width: 100%;
}

@media (min-width: 768px) {

  .col1 {
    width: 50%;
  }

  .col1:first-of-type {
    padding-left: 0;
  }

  .col1:last-of-type {
    padding-right: 0;
  }
}

select {
  padding: 5px;
  margin-left: 10px;
}

button {
  background: #c9c9c9;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-size: 15px;
  padding: 6px 10px;
}
